@model List<LiftoffProject.Models.Game>

    <h1>@ViewBag.Title</h1>

@if (Model.Count == 0)
{
    <p>No games to display</p>
}
else
{ 
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Box Art</th>
        </tr>

        @foreach (Game game in Model)
        {
            <tr>
                <td>@game.Name</td>
                @if (game.Cover != null)
                {
                <td><img src="@game.Cover.Url" alt="@game.Name" style="height:auto" /></td>
                }
                else
                {
                    <td>No Box Art</td>
                }
            </tr>
        }

    </table>
}
